[submodule "fastcampus/dss/script/dss-linux-git"]
	path = fastcampus/dss/script/dss-linux-git
	url = https://github.com/Anylee2142/dss-linux-git.git
[submodule "python/pythonmega/worldjson"]
	path = python/pythonmega/worldjson
	url = https://github.com/Anylee2142/world.geo.json.git
[submodule "mongoDB/workspace/5_upstarmusic"]
	path = mongoDB/workspace/5_upstarmusic
	url = https://github.com/Anylee2142/UpStarMusic.git
[submodule "anylee2142.github.io"]
	path = anylee2142.github.io
	url = https://github.com/Anylee2142/anylee2142.github.io.git
[submodule "fb_crawling"]
	path = fb_crawling
	url = https://github.com/Anylee2142/fb_crawling.git
[submodule "books/dl_from_scratch/deep-learning-from-scratch"]
	path = books/dl_from_scratch/deep-learning-from-scratch
	url = https://github.com/Anylee2142/deep-learning-from-scratch
