<html>
    <head>
        <!-- assets/style.css ==  person/assets/style.css-->
        <!-- /assets/style.css == /assets/style.css -->
        <!-- browser only knows http form -->
        <!-- it doesn't know how folders are organized -->
        <!-- so should be careful about path -->
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <!-- data passed to View -->
        <!-- With ejs, code can be embedded in <%= %> -->
        <h1>Person: <%= IDqwe %></h1> 
        <h2>Length: <%= length %></h2>
    </body>
</html>