<!-- *.ejs is View file for EJS template engine -->
<!-- Programmers make files, 
    template eingine translates them into html -->

<!-- There are many other template engine -->
<!-- Choose one unopinionately -->
<!-- You can install them via npm install package -->
<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Hello World !</h1>
        <form method="POST" action="/person">
        First : <input type="text" id="first" name="first"/>
        Last : <input type="text" id="last" name="last"/>
        <input type="submit" value="Submit">
    </form>
    </body>
</html>