<html>
        <head>
            POST
        </head>
        <body>
            <form name='form2' action='/second' method='post'>
                Name: <input type='text' name='name'>
                Mail: <input type='text' name='mail'>
                <input type='submit' value="전송">
            </form>
    
        </body>
    
    </html>