<html>
    <head>
        GET
    </head>
    <body>
        <form name='form1' action='/first' method='get'>
            Name: <input type='text' name='name'>
            Mail: <input type='text' name='mail'>
            <input type='submit' value="전송">
        </form>

    </body>

</html>